/node_modules/
/.git/
/.expo/
/.expo-shared/
/dist/
/build/
/.web-build/
/coverage/
/tmp/
/.cache/
/android/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
*.ipa
*.apk
*.aab
